*
!.gitignore
!.zshrc
!.xinitrc
!.vimrc

!.config
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/qtile
!.config/qtile/autostart.sh
!.config/qtile/config.py
!.config/picom
!.config/picom/picom.conf
!.config/picom/picom.desktop
!.config/neofetch
!.config/neofetch/config.conf
!.config/neofetch/ArchLinux.png
!.config/kitty
!.config/kitty/kitty.conf
!.config/rofi
!.config/rofi/themes
!.config/rofi/themes/rounded-blue-dark.rasi
!.config/rofi/themes/rounded-common.rasi
!.config/rofi/themes/rounded-purple-dark.rasi
!.config/rofi/themes/spotlight-dark.rasi
!.config/rofi/themes/spotlight.rasi

!.pictures
!.pictures/Linux.jpg
!.pictures/kny2.jpg

!arch_packages.txt
!arch_packages2.txt
!history2.txt
!.config/gtk-3.0
!.config/gtk-3.0/gtk.css
