*
!.gitignore
!.gitconfig.copy
!.zshrc
!.xinitrc
!.vimrc
!.profile
!.xprofile

!.config
!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/alacritty/fonts.toml
!.config/alacritty/rice-colors.toml
!.config/qtile
!.config/qtile/autostart.sh
!.config/qtile/config.py
!.config/picom
!.config/picom/picom.conf
!.config/picom/picom0.conf
!.config/picom/picom.desktop
!.config/neofetch
!.config/neofetch/config.conf
!.config/neofetch/ArchLinux.png
!.config/kitty
!.config/kitty/kitty.conf
!.config/rofi
!.config/rofi/themes
!.config/rofi/themes/rounded-blue-dark.rasi
!.config/rofi/themes/rounded-common.rasi
!.config/rofi/themes/rounded-purple-dark.rasi
!.config/rofi/themes/spotlight-dark.rasi
!.config/rofi/themes/spotlight.rasi

!Pictures
!Pictures/Backgrounds
!Pictures/Backgrounds/0.jpg
!Pictures/Backgrounds/1.jpg
!Pictures/Backgrounds/2.jpg
!Pictures/Backgrounds/3.jpg
!Pictures/Backgrounds/4.jpg
!Pictures/Backgrounds/5.jpg
!Pictures/Backgrounds/6.jpg
!Pictures/Backgrounds/7.jpg
!Pictures/Backgrounds/8.jpg
!Pictures/Backgrounds/9.jpg
!Pictures/Backgrounds/10.jpg
!Pictures/Backgrounds/11.jpg
!Pictures/Backgrounds/12.jpg
!Pictures/Backgrounds/13.jpg
!Pictures/Backgrounds/14.jpg
!Pictures/Backgrounds/archsky.jpg
!Pictures/Backgrounds/archwin.png
!Pictures/Backgrounds/chomosuke.jpg

!.themes/Sweet-Ambar-Blue-Dark-v40.tar.xz
!.themes/Sweet-Dark-v40.tar.xz
!.themes/WhiteSur-Dark.tar.xz
!.themes/WhiteSur-Light.tar.xz
!.themes/Sonoma.zip
!.themes/Apple-Sonoma-Dark.tar.xz
!.themes/Apple-Ventura.tar.xz

!.icons
!.icons/Win11.tar.xz
!.icons/Sweet-cursors.tar.xz
!.icons/Inverse.tar.xz
!.icons/*

!arch_packages.txt
!arch_packages2.txt
!arch_packages3.txt
!arch_packages4.txt
!arch_packages5.txt
!arch_packages6.txt

!history2.txt
!history4.txt
!history5.txt
!history6.txt

!.config/gtk-3.0
!.config/gtk-3.0/gtk.css
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0
!.config/gtk-4.0/settings.ini

!.config/bspwm.zip
!.config/polybar
!.config/polybar/config.ini
!.config/polybar/launch.sh
!.config/polybar/launch2.sh
!.config/mpd
!.config/mpd/mpd.conf
!.config/ncmpcpp
!.config/ncmpcpp/config
!.config/sxhkd
!.config/sxhkd/sxhkdrc

!.screenlayout
!.screenlayout/espejo.sh
!.screenlayout/resolucion.sh
!.screenlayout/resolucion-2p.sh

!.scripts
!.scripts/qr-generate
!.scripts/ytdown
!.scripts/wifi-conn
!.scripts/configure-arch
